[user]
  name = Jason Daly
  email = jason@deefour.me
[diff]
[color]
  ui = auto
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[alias]
  st = status
  ci = commit
  co = checkout
  ap = add --all -p
  amend = commit --amend
  aa = add --all
  ff = merge --ff-only
  b = branch -vv
  ds = diff --stat=160,120
  dh1 = diff HEAD~1
  pr = pull --rebase
  git = !exec git
  head = !git l -1
  h = !git head
  r = !git l -30
  l = "!git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

[merge]
  tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = matching
[help]
	autocorrect = 1
[pager]
  diff = "diff-so-fancy | less --tabs=4 -RFX"
  show = "diff-so-fancy | less --tabs=4 -RFX"
