snippet m
	${1:public} function ${2:foo}($${3:arg1}) {
		${0}
	}
snippet f
	function ${1:foo}($${2:arg1}) {
		${0}
	}
snippet if
	if (${1}) {
	  ${0}
	}
snippet ifel
	if (${1}) {
	  ${2}
	} else {
	  ${3}
	}
	${0}
snippet class
	class ${1} {

		public function __construct(${2}) {
			${3}
		}


		// Methods
		// ---------------------------------------------------------------------------
		${0}
	}
